@model demo1.ViewModels.CreatePerson

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@Html.LabelFor(model => model.Person.FirstName)<br/>
@Html.EditorFor(model => model.Person.FirstName)
@Html.ValidationMessageFor(model => model.Person.FirstName)<br/><br/>

@Html.LabelFor(model => model.Person.LastName)<br/>
@Html.EditorFor(model => model.Person.LastName)
@Html.ValidationMessageFor(model => model.Person.LastName)<br/><br/>

@Html.LabelFor(model => model.Person.DateOfBirth)<br/>
@Html.Kendo().DatePickerFor(model => model.Person.DateOfBirth)
@Html.ValidationMessageFor(model => model.Person.DateOfBirth)<br/><br/>

@Html.LabelFor(model => model.Person.Address)<br/>
@Html.EditorFor(model => model.Person.Address)
@Html.ValidationMessageFor(model => model.Person.Address)<br/><br/>

@Html.LabelFor(model => model.Person.City)<br/>
@Html.EditorFor(model => model.Person.City)
@Html.ValidationMessageFor(model => model.Person.City)<br/><br/>
        
@Html.LabelFor(model => model.Person.State)<br/>
@Html.Kendo().AutoCompleteFor(model => model.Person.State.Abbreviation).BindTo(Model.States).DataTextField("Abbreviation")
@Html.ValidationMessageFor(model => model.Person.State.Abbreviation)