
<div style="margin-top:17px;">
    @{

        var grid = new WebGrid(
                    canPage: true,
                    rowsPerPage: Model.PageSize,
                    canSort: true,

                    ajaxUpdateContainerId: "ajaxgrid");

        grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
        grid.Pager(WebGridPagerModes.All); }
    <div id="ajaxgrid">

        @grid.GetHtml(

            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
              grid.Column("PhoneId", "ID"),
              grid.Column("Model", "Model", style: "col-lg-4"),
              grid.Column("Company", "Company", style: "col-lg-3"),
              grid.Column("Price", header: "Price", format: @<text>@String.Format("{0:C}", item.Price) </text>),
              grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
                @Html.Raw("<a data-modal='' href='/phone/details/" + item.PhoneId + "' id='" + item.PhoneId + "' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/phone/edit/" + item.PhoneId + "' id='" + item.PhoneId +
                "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/phone/delete/" + item.PhoneId + "' id='" + item.PhoneId + "' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                </text>)

            ));
        <script type="text/javascript">
            var pageIndex = "@grid.PageIndex";//We'd better add the double quotation marks
        </script>
        <script type="text/javascript">
            $(function () {
                $.ajaxSetup({ cache: false });
                //$("a[data-modal]").on("click", function (e) {
                $(document).on("click", "a[data-modal]", function (e) {
                    $('#myModalContent').load(this.href, function () {
                        $('#myModal').modal({
                            keyboard: true
                        }, 'show');
                        bindForm(this);
                    });
                    return false;
                });
            });


            function bindForm(dialog) {
                $('form', dialog).submit(function () {
                    $('#progress').show();
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),

                        success: function (result) {
                            if (result.success) {
                                $('#myModal').modal('hide');
                                $('#progress').hide();
                                var queryString = "page=" + pageIndex;
                                var requestUrl =
            '@Url.Action("Index")' + queryString;
                                $('#ajaxgrid').load(requestUrl);
                                //location.reload();
                                //updateGrid();
                            } else {
                                $('#progress').hide();
                                $('#myModalContent').html(result);
                                bindForm();
                            }
                        }
                    });
                    return false;
                });
            }



            @*function updateGrid() {
                @Html.Raw(HttpUtility.HtmlDecode(grid.GetContainerUpdateScript("/?page=" + (grid.PageIndex + 1)).ToString()))
            }*@
        </script>

    </div>
</div>


